<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h1 {
            margin: 0;
        }

        .content {
            background-color: lightgrey;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <header class="header">
        <h1>A Header is block level</h1>
    </header>

    <article class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, expedita ullam assumenda quis
        officiis
        culpa ipsa id amet molestias dolor modi, nemo blanditiis, praesentium doloremque! Facere, itaque!
        Eligendi,
        soluta numquam.
    </article>
    <article>
        <h2>Inline Elements</h2>
    </article>
    <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, neque!
    </article>
    <article>Some Image</article>
    <footer>CSS-Snippet.com</footer>
</body>

</html>