<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .pic1 {
            position: absolute;
            left: 100px;
            bottom: 200px;
            z-index: 0;
        }

        .pic2 {
            z-index: 1;
            position: relative;
        }

        img:hover {
            z-index: 2;
        }
    </style>
</head>

<body>
    <img class="pic1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Vlo3yCZ6MYHX5Hucil5c76ce4OQE_RmlFQ&usqp=CAU"
        alt="Pic1">

    <img class="pic2"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Vlo3yCZ6MYHX5Hucil5c76ce4OQE_RmlFQ&usqp=CAU"
        alt="Pic1">
</body>

</html>