<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Zone Homework</title>

    <style>
        h1 {
            background-color: black;
            color: white;
        }

        .menuOptions {
            background-color: aqua;
            padding: 10px;
            position: sticky;
            top: 0px;
            /* display: inline-block; */
        }

        .menuOptions:hover {
            background-color: aquamarine;
        }
    </style>
</head>

<body>
    <div>
        <h1>SkyZone Academy</h1>
        <div>
            <button class="menuOptions">Home</button>
            <button class="menuOptions">Services</button>
            <button class="menuOptions">Projects</button>
            <button class="menuOptions">About</button>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum rerum totam, quaerat in a, aperiam ullam
            accusantium nam reprehenderit iusto labore eos ex reiciendis aspernatur repellat repudiandae nisi laudantium
            ea!</p>
    </div>
</body>

</html>